
<div id="ModalMsgBoxId" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <strong id="ModalTitleId" style="margin-left: 6px; font-size: 16px;"></strong>
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    <div id="ModalContentId" style="margin-left: 6px; font-size: 16px;">
                        Talking to the cloud...please wait :)
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                @*<button id="normalOkId" type="button" class="btn btn-success" data-dismiss="modal">OK</button>*@
            </div>
        </div>
    </div>
</div>  