<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Dootrix.Planets.DataAccess.DataProviders.Interface.IPlanetsReadOnlyDataProvider, Dootrix.Planets.DataAccess"
        mapTo="Dootrix.Planets.DataAccess.DataProviders.PlanetsReadOnlyDataProvider, Dootrix.Planets.DataAccess" />
    <register type="Dootrix.Planets.DataAccess.DataProviders.Interface.IPlanetsDataProvider, Dootrix.Planets.DataAccess"
        mapTo="Dootrix.Planets.DataAccess.DataProviders.PlanetsDataProvider, Dootrix.Planets.DataAccess" />
    <register type="Dootrix.Planets.DataAccess.IDbDataContext, Dootrix.Planets.DataAccess"
        mapTo="Dootrix.Planets.DataAccess.DbDataContext, Dootrix.Planets.DataAccess">
      <constructor>
        <param name="connectionString" value="mongodb://kay:d3v3l0p3r1010@ds053130.mongolab.com:53130/olan-georgecom" />
        <param name="databaseName" value="olan-georgecom" />
      </constructor>
    </register>
  </container>
</unity>
